h1 {
  color: red;
}

img {
  width: 400px;
}

#thridDiv {
  height: 600px;
  width: 500px;
  padding: 50px;
  border: 1px solid black;
  background: gray;
}

spanId {
  font-size: 18px;
  margin: 50px;
}
